<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gelecek Kalemler - Ana Sayfa</title>
    <link rel="stylesheet" href="styles/main.css" />
    <link rel="stylesheet" href="styles/index.css" />
    <script src="scripts/main.js" defer></script>
    <script src="scripts/index.js" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Roboto:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles/application.css" />
  </head>
  <body>
    <%- include('components/header.ejs') %>
    <p class="wait-text">
      Başvurular şuan kapalı. Başvuruların ne zaman açılacağını görmek için
      <a href="/#annocuments">duyurular</a> sayfamızı ziyaret edebilirsiniz.
    </p>
    <!-- <input type="text" class="input" placeholder="İsim" required />
    <input type="text" class="input" placeholder="Okul" required />
    <input type="email" class="input" placeholder="E-Posta" required />
    <label for="approval" class="label"
      ><svg><use xlink:href="components/sprite.svg#file"></use></svg> Veli İzin
      Belgesi</label
    >
    <input
      name="approval"
      type="file"
      hidden
      id="approval"
      required
      accept=".pdf, .docx, .doc"
    />
    <label for="theater" class="label">
      <svg><use xlink:href="components/sprite.svg#pen"></use></svg>Tiyatro
      Metni</label
    >
    <input
      type="file"
      hidden
      id="theater"
      required
      accept=".pdf, .docx, .doc"
    />

    <button class="submit-btn" type="submit" id="applicationBtn">Gönder</button> -->
  </body>
</html>
