<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="title" content="Gelecek Kalemler Tiyatro Yarışması" />
    <meta
      name="description"
      content="Gelecek Kalemler Tiyatro Yarışması, genç yeteneklere tiyatro sahnesinde fırsat sunuyor. Katılın, yeteneklerinizi sergileyin!"
    />
    <meta
      name="keywords"
      content="Gelecek Kalemler, tiyatro yarışması, genç yetenekler, sahne sanatları, dramatik sanatlar"
    />
    <meta name="author" content="Gelecek Kalemler" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="index, follow" />
    <meta name="og:title" content="Gelecek Kalemler Tiyatro Yarışması" />
    <meta
      name="og:description"
      content="Genç yeteneklere tiyatro sahnesinde fırsat sunan Gelecek Kalemler Tiyatro Yarışması'na katılın."
    />
    <meta name="og:url" content="https://www.gelecekkalemler.net" />
    <meta name="og:type" content="website" />

    <title>Gelecek Kalemler - Ana Sayfa</title>
    <link rel="stylesheet" href="styles/main.css" />
    <link rel="stylesheet" href="styles/index.css" />
    <script src="scripts/main.js" defer></script>
    <script src="scripts/index.js" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Roboto:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <%- include('components/header.ejs') %>

    <section class="section-hero">
      <img src="components/section-hero.webp" class="bg" alt="" />
      <img
        src="components/gelecekkalemlerlogo.webp"
        alt="Gelecek Kalemler Logo"
        class="logo"
      />
      <div class="texts">
        <h1 class="title">Gelecek Kalemler</h1>
        <p class="subtitle">Liseler Arası Tiyatro Yazma Yarışması</p>
      </div>
    </section>

    <section class="section-time"></section>

    <section class="section-about" id="about">
      <h2 class="title">Hakkında</h2>
      <div class="content">
        <img
          src="components/section-about.webp"
          alt="Writing a Theater"
          class="img"
        />
        <div class="container">
          <p class="text">
            <span>Gelecek Kalemler</span>, İstanbul'un Yıldızı'nda, Beşiktaş
            Sakıp Sabancı Anadolu Lisesi'nde doğmuş ve her geçen zamanla
            büyüyerek daha büyük kitlelere ulaşmış ve hala daha büyüğüne
            ulaşmayı hedefleyen, Türkiye'deki genç sanatçıların/yazarların
            layıklarını görmeleri, emeklerinin karşılığını almaları ve sanata
            olan yakınlıklarını daim kılmayı hedefleyerek, daha fazla gencin
            sanata ulaşmasında yardım etmeyi ve daha fazla gence sanat yoluyla
            ulaşmayı amaçlayan bir sanat hareketidir. Biz Gelecek Kalemle olarak
            herr geçen gün büyümek, gelişmek, büyütmek ve geliştirmek için
            çabalamaktayız. Gazi Atamız Mustafa Kemal'in "Sanatsız kalan bir
            milletin hayat damarlarından biri kopmuş demektir" sözü ile yola
            çıkarak ülkemizin hayat damarlarından birini canlı tutma uğrunda
            çalışmaya ant içtik ve bu yolda durmadan ilerlemekteyiz. Dilimiz
            sanat, yolumuz sanattır.
          </p>
        </div>
      </div>
    </section>

    <section class="section-annocuments" id="annocuments">
      <h2 class="title">Duyurular</h2>
      <div class="wrapper">
        <div class="container">
          <div class="top">
            <span class="subtitle">Teknik arıza.</span>
            <span class="date">20.02.2024</span>
          </div>
          <p class="text">
            Teknik bir arıza üzerine başvuru sistemimizde arızalar vardı. Bu
            süreçte başvuru yaptıysanız bir daha başvurmanızı rica ederiz.
          </p>
        </div>
        <div class="container">
          <div class="top">
            <span class="subtitle">Başvurularımız açıldı!</span>
            <span class="date">20.12.2023</span>
          </div>
          <p class="text">
            Başvurularınızı
            <a style="color: white; font-weight: 500" href="/application"
              >Başvur</a
            >
            sayfamızından gerçekleştirebilirsiniz.
          </p>
        </div>
        <div class="container">
          <div class="top">
            <span class="subtitle">Oyunlarınızla dergi oluşturuyoruz.</span>
            <span class="date">19.12.2023</span>
          </div>
          <p class="text">
            Katılan bütün eserler sene sonu basılacak ve İstanbul'da dağıtılacak
            olan dergimizde yer alacak
          </p>
        </div>
        <div class="container">
          <div class="top">
            <span class="subtitle">Başvuru tarihi açıklandı!</span>
            <span class="date">29.11.2023</span>
          </div>
          <p class="text">
            20.12.2023 ve 13.03.2024 tarihleri arasında başvurularınızı
            yapabilirsiniz.
          </p>
        </div>
        <div class="container">
          <div class="top">
            <span class="subtitle">Yeniden merhaba!</span>
            <span class="date">01.11.2023</span>
          </div>
          <p class="text">
            Gelecek Kalemler olarak yarışmamızı bu senede gerçekleştirmekten
            gurur duyuyoruz!
          </p>
        </div>
      </div>
    </section>

    <section class="section-faq" id="faq">
      <h2 class="title">SSS</h2>
      <h2 class="subtitle">(Sıkça Sorulan Sorular)</h2>
      <div class="wrapper">
        <div class="container faq-container">
          <div class="top">
            <span class="text"
              ><svg><use xlink:href="components/sprite.svg#dot"></use></svg
              >Yarışmaya Katılacak Kişiler için Konulan Şartlar Nelerdir?
            </span>
            <svg><use xlink:href="components/sprite.svg#plus"></use></svg>
          </div>
          <p class="answer">
            İstanbul valiliğine bağlı ortaöğretim kurumlarında okuyan her
            öğrenci yaş, sınıf, özel gereksinim durumu farketmeksizin kendi
            yazmış oldukları tiyatro oyunu metinleriyle yarışmamıza katılım
            sağlayabilirler.
          </p>
        </div>
        <div class="container faq-container">
          <div class="top">
            <span class="text"
              ><svg><use xlink:href="components/sprite.svg#dot"></use></svg
              >Yarışmaya Katılacağımız Eserler ile İlgili Neylere Dikkat
              Etmeliyiz?
            </span>
            <svg><use xlink:href="components/sprite.svg#plus"></use></svg>
          </div>
          <p class="answer">
            Yarışmaya katılacak olan eserlerin uzunluğu en az 1.000 (bin) en çok
            ise 10.000 (on bin) kelime olacak şekilde sınırlandırılmıştır.
            Eserlerin, Word formatında, A4 boyutundaki kağıda, Times New Roman
            yazı tipi ile 12 punto ve 1.5 satır aralıklı olacak şekilde dijital
            ortamda yazılması gerekmektedir. Eserlerin dili Türk Dil Kurumu
            Kılavuzu esas alınarak incelenecektir.
          </p>
        </div>
        <div class="container faq-container">
          <div class="top">
            <span class="text"
              ><svg><use xlink:href="components/sprite.svg#dot"></use></svg>
              Yarışmanın Ödülleri Nelerdir?
            </span>
            <svg><use xlink:href="components/sprite.svg#plus"></use></svg>
          </div>
          <p class="answer">
            Yarışmamızda; 1. Olan Eserin Sahibine: 5.000 lira nakit ödül ve Ödül
            Plaketi, 2. Olan Eserin Sahibine: 3.000 lira nakit ödül ve Ödül
            Plaketi, 3. Olan Eserin Sahibine: 2.000 lira nakit ödül ve Ödül
            Plaketi, takdim edilecektir.
          </p>
        </div>
      </div>
    </section>

    <section class="section-contact" id="contact">
      <h2 class="title">İletişim</h2>
      <div class="wrapper">
        <div class="start">
          <span class="title">Başka sorunuz mu var?</span>
          <span class="subtitle"
            >Bize e-mailinizi verin. Biz size geri dönüş yapacağız.</span
          >
        </div>
        <div class="end">
          <input
            class="input"
            type="email"
            id="contact-input"
            placeholder="example@example.com"
          />
          <button class="btn" type="submit" id="contact-btn">Gönder</button>
        </div>
      </div>
    </section>

    <%- include('components/footer.ejs') %> <%- include('components/upBtn.ejs')
    %>
  </body>
</html>
