<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gelecek Kalemler - Ana Sayfa</title>
    <link rel="stylesheet" href="styles/main.css" />
    <link rel="stylesheet" href="styles/index.css" />
    <script src="scripts/index.js" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Roboto:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <%- include('components/header.ejs') %>

    <section class="section-hero">
      <img src="components/section-hero.webp" class="bg" alt="" />
      <img
        src="components/gelecekkalemlerlogo.webp"
        alt="Gelecek Kalemler Logo"
        class="logo"
      />
      <div class="texts">
        <h1 class="title">Gelecek Kalemler</h1>
        <p class="subtitle">Liseler Arası Tiyatro Yazma Yarışması</p>
      </div>
    </section>

    <section class="section-time"></section>

    <section class="section-about">
      <h2 class="title">Hakkında</h2>
      <div class="content">
        <img
          src="components/section-about.webp"
          alt="Writing a Theater"
          class="img"
        />
        <div class="container">
          <p class="text">
            <span>Gelecek Kalemler</span>, lorem ipsum dolor sit amet
            consectetur, adipisicing elit. At, sapiente! Doloremque sapiente
            numquam hic. Possimus provident inventore assumenda nobis, sapiente
            dolorem nostrum eligendi, aliquam tempora, eum tenetur nam!
            Deserunt, dolores.
          </p>
          <a href="" class="btn">Ayrıntılar</a>
        </div>
      </div>
    </section>

    <section class="section-annocuments">
      <h2 class="title">Duyurular</h2>
      <div class="wrapper">
        <div class="container">
          <div class="top">
            <span class="subtitle">Başvuru tarihi açıklandı!</span>
            <span class="date">12.12.2021</span>
          </div>
          <p class="text">
            Başvuru tarihi 11.11.2023 tarihi ile 11.11.2023 tarihi arası olarak
            belirlenmiştir.
          </p>
        </div>
        <div class="container">
          <div class="top">
            <span class="subtitle">Başvuru tarihi açıklandı!</span>
            <span class="date">12.12.2021</span>
          </div>
          <p class="text">
            Başvuru tarihi 11.11.2023 tarihi ile 11.11.2023 tarihi arası olarak
            belirlenmiştir.
          </p>
        </div>
        <div class="container">
          <div class="top">
            <span class="subtitle">Başvuru tarihi açıklandı!</span>
            <span class="date">12.12.2021</span>
          </div>
          <p class="text">
            Başvuru tarihi 11.11.2023 tarihi ile 11.11.2023 tarihi arası olarak
            belirlenmiştir.
          </p>
        </div>
      </div>
      <a href="#" class="btn">Tüm Duyurular</a>
    </section>

    <section class="section-faq">
      <h2 class="title">SSS</h2>
      <h2 class="subtitle">(Sıkça Sorulan Sorular)</h2>
      <div class="wrapper">
        <div class="container faq-container">
          <div class="top">
            <span class="text"
              ><svg><use xlink:href="components/sprite.svg#dot"></use></svg
              >Yarışmanın teması ne?</span
            >
            <svg><use xlink:href="components/sprite.svg#plus"></use></svg>
          </div>
          <p class="answer">
            Yarışmanın belli bir teması yoktur. Milli Eğitim Bakanlığı
            Ortaöğretim Yönetmeliğine uygun bütün temaları içerir.
          </p>
        </div>
        <div class="container faq-container">
          <div class="top">
            <span class="text"
              ><svg><use xlink:href="components/sprite.svg#dot"></use></svg
              >Yarışmanın teması ne?</span
            >
            <svg><use xlink:href="components/sprite.svg#plus"></use></svg>
          </div>
          <p class="answer">
            Yarışmanın belli bir teması yoktur. Milli Eğitim Bakanlığı
            Ortaöğretim Yönetmeliğine uygun bütün temaları içerir.
          </p>
        </div>
        <div class="container faq-container">
          <div class="top">
            <span class="text"
              ><svg><use xlink:href="components/sprite.svg#dot"></use></svg
              >Yarışmanın teması ne?</span
            >
            <svg><use xlink:href="components/sprite.svg#plus"></use></svg>
          </div>
          <p class="answer">
            Yarışmanın belli bir teması yoktur. Milli Eğitim Bakanlığı
            Ortaöğretim Yönetmeliğine uygun bütün temaları içerir.
          </p>
        </div>
        <div class="container faq-container">
          <div class="top">
            <span class="text"
              ><svg><use xlink:href="components/sprite.svg#dot"></use></svg
              >Yarışmanın teması ne?</span
            >
            <svg><use xlink:href="components/sprite.svg#plus"></use></svg>
          </div>
          <p class="answer">
            Yarışmanın belli bir teması yoktur. Milli Eğitim Bakanlığı
            Ortaöğretim Yönetmeliğine uygun bütün temaları içerir.
          </p>
        </div>
      </div>
    </section>
  </body>
</html>
