/* Classic Elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}

html {
  font-size: 62.5%;
}

body {
  scroll-behavior: smooth;
  font-size: 1.6rem;
  color: #fff;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

::-webkit-scrollbar {
  display: none;
}

/* Hero */
.section-hero {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.section-hero .bg {
  position: absolute;
  top: 0;
  left: 0;
  filter: blur(10px);
  --webkit-filter: blur(10px);
  z-index: -1;
  width: 100%;
  height: 100%;
}

.section-hero .texts {
  display: flex;
  flex-direction: column;
}

.section-hero .logo {
  width: 40rem;
  height: 40rem;
}

.section-hero .texts .title {
  font-family: "Indie Flower", sans-serif;
  font-size: 10rem;
}

.section-hero .texts .subtitle {
  font-size: 2.8rem;
  font-weight: 300;
}

/* Time */

/* About */

.section-about {
  width: 100%;
  height: auto;
  padding-block: 10rem;
  padding-inline: 20rem;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  gap: 15rem;
}

.section-about .title {
  border-bottom: 1rem solid #aeaeae;
  font-size: 6.4rem;
  width: fit-content;
  font-weight: 400;
}

.section-about .content {
  display: flex;
  gap: 5rem;
}

.section-about .content .img {
  width: 100rem;
  height: auto;
  border: 1.5rem solid #aeaeae;
}

.section-about .content .container {
  display: flex;
  flex-direction: column;
  gap: 10rem;
}

.section-about .content .container .text {
  color: #aeaeae;
  font-size: 2.8rem;
}

.section-about .content .container .text span {
  color: #fff;
  font-size: 3.2rem;
}

.section-about .content .container .btn {
  background-color: #fff;
  width: fit-content;
  font-size: 2.8rem;
  color: #000;
  padding-block: 2rem;
  padding-inline: 2rem;
  border-radius: 10px;
  transition: background-color 0.3s ease-in-out;
}

.section-about .content .container .btn:hover {
  background-color: #aeaeae;
}

/* Annocuments */

.section-annocuments {
  width: 100%;
  background-color: #1c1c1c;
  padding-block: 10rem;
  padding-inline: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  height: 100vh;
}

.section-annocuments .title {
  font-size: 6.4rem;
  font-weight: 400;
  width: fit-content;
  border-bottom: 1rem solid #aeaeae;
}

.section-annocuments .wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.section-annocuments .wrapper .container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 3rem;
  border-bottom: #aeaeae 0.5rem solid;
  padding-block: 2rem;
}

.section-annocuments .wrapper .container .top {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.section-annocuments .wrapper .container .top .subtitle {
  font-size: 2.4rem;
  font-weight: 400;
}

.section-annocuments .wrapper .container .top .date {
  font-size: 2.2rem;
  color: #aeaeae;
}

.section-annocuments .wrapper .container .text {
  font-size: 2rem;
  color: #aeaeae;
}

.section-annocuments .btn {
  width: fit-content;
  padding-inline: 2rem;
  padding-block: 1.5rem;
  background-color: transparent;
  border: 0.3rem solid #fff;
  align-self: center;
  border-radius: 5px;
  font-size: 2.4rem;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.section-annocuments .btn:hover {
  background-color: #fff;
  color: #000;
}

/* FAQ */

.section-faq {
  background-color: #000;
  padding-inline: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-block: 10rem;
}

.section-faq .title {
  font-size: 6.4rem;
  /* border-bottom: 1rem solid #aeaeae; */
  font-weight: 400;
  width: fit-content;
}

.section-faq .subtitle {
  font-size: 6.4rem;
  font-weight: 400;
  width: fit-content;
  border-bottom: 1rem solid #aeaeae;
  margin-bottom: 10rem;
}

.section-faq .wrapper {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.section-faq .wrapper .container {
  width: 100%;
  height: 10rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: center;
  justify-content: center;
  background-color: #1c1c1c;
  transition: all 0.3s ease-in-out;
}

.section-faq .wrapper .container:hover {
  cursor: pointer;
}

.section-faq .wrapper .container.open {
  height: 20rem;
}

.section-faq .wrapper .container .top,
.section-faq .wrapper .container .answer {
  width: 100%;
  height: 10rem;
  padding-inline: 5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.section-faq .wrapper .container .top {
  flex-direction: row;
  justify-content: space-between;
}

.section-faq .wrapper .container svg {
  fill: #fff;
}

.section-faq .wrapper .container .top .text {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 2.4rem;
  font-weight: 400;
}

.section-faq .wrapper .container .top .text svg {
  width: 5rem;
  height: 5rem;
}

.section-faq .wrapper .container .top svg {
  width: 3.2rem;
  height: 3.2rem;
  transition: all 0.3s ease-in-out;
}

.section-faq .wrapper .container.open .top svg {
  transform: rotate(45deg);
}

.section-faq .wrapper .container .answer {
  display: none;
}

.section-faq .wrapper .container.open .answer {
  display: inline;
  font-size: 2rem;
  color: #aeaeae;
}

/* Contact */

.section-contact {
  width: 100%;
  background-color: #1c1c1c;
  padding-block: 5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-inline: 20rem;
  gap: 5rem;
}

.section-contact .title {
  font-size: 6.4rem;
  font-weight: 400;
  width: fit-content;
  border-bottom: 1rem solid #aeaeae;
}

.section-contact .wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-contact .wrapper .start {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.section-contact .wrapper .start .title {
  font-size: 2.4rem;
  border: none;
}

.section-contact .wrapper .start .subtitle {
  color: #aeaeae;
  font-size: 2rem;
}

.section-contact .wrapper .end {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.section-contact .wrapper .end .input {
  background-color: #000;
  border-radius: 5px;
  color: #fff;
  font-size: 2.4rem;
  padding-block: 1rem;
  padding-inline: 1.5rem;
  text-align: center;
}

.section-contact .wrapper .end .input:placeholder-shown {
  color: #aeaeae;
}

.section-contact .wrapper .end .btn {
  background-color: transparent;
  color: #fff;
  font-size: 2.4rem;
  padding-block: 1rem;
  padding-inline: 2.5rem;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  border: 0.3rem solid #fff;
}

.section-contact .wrapper .end .btn {
  background-color: transparent;
  color: #fff;
  font-size: 2.4rem;
  padding-block: 1rem;
  padding-inline: 2.5rem;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  border: 0.3rem solid #fff;
}

.section-contact .wrapper .end .btn:hover {
  background-color: #fff;
  color: #000;
  cursor: pointer;
}
