/* Classic Elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}

html {
  font-size: 62.5%;
}

body {
  scroll-behavior: smooth;
  font-size: 1.6rem;
  color: #fff;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* Hero */
.section-hero {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.section-hero .bg {
  position: absolute;
  top: 0;
  left: 0;
  filter: blur(10px);
  --webkit-filter: blur(10px);
  z-index: -1;
  width: 100%;
  height: 100%;
}

.section-hero .texts {
  display: flex;
  flex-direction: column;
}

.section-hero .logo {
  width: 40rem;
  height: 40rem;
}

.section-hero .texts .title {
  font-family: "Indie Flower", sans-serif;
  font-size: 10rem;
}

.section-hero .texts .subtitle {
  font-size: 2.8rem;
  font-weight: 300;
}

/* Time */

/* About */

.section-about {
  width: 100%;
  height: auto;
  padding-block: 10rem;
  padding-inline: 20rem;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  gap: 15rem;
}

.section-about .title {
  border-bottom: 1rem solid #aeaeae;
  font-size: 6.4rem;
  width: fit-content;
  font-weight: 400;
}

.section-about .content {
  display: flex;
  gap: 5rem;
}

.section-about .content .img {
  width: 100rem;
  height: auto;
  border: 1.5rem solid #aeaeae;
}

.section-about .content .container {
  display: flex;
  flex-direction: column;
  gap: 10rem;
}

.section-about .content .container .text {
  color: #aeaeae;
  font-size: 2.8rem;
}

.section-about .content .container .text span {
  color: #fff;
  font-size: 3.2rem;
}

.section-about .content .container .btn {
  background-color: #fff;
  width: fit-content;
  font-size: 2.8rem;
  color: #000;
  padding-block: 2rem;
  padding-inline: 2rem;
  border-radius: 10px;
}

/* Annocuments */

/* FAQ */

/* Mail */
