<footer class="footer">
  <div class="wrapper">
    <div class="container">
      <span class="title"
        ><svg><use xlink:href="components/sprite.svg#question"></use></svg>
        Destek
      </span>
      <a href="mailto:gelecekkalemlerkomitesi@gmail.com" class="link"
        ><svg><use xlink:href="components/sprite.svg#mail"></use></svg
        >gelecekkalemlerkomitesi@gmail.com</a
      >
      <a href="tel:+902122274610" class="link"
        ><svg><use xlink:href="components/sprite.svg#phone"></use></svg> +90
        (212) 227 46 10</a
      >
    </div>
    <div class="container">
      <span class="title"
        ><svg><use xlink:href="components/sprite.svg#link"></use></svg>
        Linkler
      </span>
      <a href="/" class="link">Ana Sayfa</a>
      <a href="/#about" class="link">Hakkında</a>
      <a href="/#annocuments" class="link">Duyurular</a>
      <a href="/#faq" class="link">SSS</a>
      <a href="/#contect" class="link">İletişim</a>
      <a href="/application" class="link">Başvur</a>
    </div>
    <div class="container">
      <span class="title"
        ><svg><use xlink:href="components/sprite.svg#document"></use></svg>
        Belgeler
      </span>
      <a href="components/sartname.pdf" target="_blank" class="link"
        >Yarışma Şartnamesi</a
      >
      <a href="components/belgeler.pdf" target="_blank" class="link"
        >Gerekli Belgeler</a
      >
      <a href="components/aydinlatma_metni.pdf" target="_blank" class="link"
        >Aydınlatma Metni</a
      >
    </div>
    <div class="container">
      <span class="title"
        ><svg><use xlink:href="components/sprite.svg#share"></use></svg>
        Sosyal Medyalar
      </span>
      <a href="https://www.instagram.com/gelecekalemler/" class="link"
        ><svg><use xlink:href="components/sprite.svg#instagram"></use></svg
        >@gelecekalemler</a
      >
    </div>
  </div>
  <div class="copyright">All rights are reserved. Copyright 2024 &copy;</div>
</footer>
