<footer class="footer">
  <div class="wrapper">
    <div class="container">
      <span class="title"
        ><svg><use xlink:href="components/sprite.svg#question"></use></svg>
        Destek
      </span>
      <a href="#" class="link"
        ><svg><use xlink:href="components/sprite.svg#mail"></use></svg
        >info@gelecekkalemler.com</a
      >
      <a href="#" class="link"
        ><svg><use xlink:href="components/sprite.svg#phone"></use></svg>+90
        (555) 798 09 32</a
      >
    </div>
    <div class="container">
      <span class="title"
        ><svg><use xlink:href="components/sprite.svg#link"></use></svg>
        Linkler
      </span>
      <a href="#" class="link">Ana Sayfa</a>
      <a href="#" class="link">Hakkında</a>
      <a href="#" class="link">Duyurular</a>
      <a href="#" class="link">SSS</a>
      <a href="#" class="link">İletişim</a>
      <a href="#" class="link">Profil</a>
      <a href="#" class="link">Başvur</a>
    </div>
    <div class="container">
      <span class="title"
        ><svg><use xlink:href="components/sprite.svg#document"></use></svg>
        Belgeler
      </span>
      <a href="#" class="link">Yarışma Şartnamesi</a>
      <a href="#" class="link">Veli Onayı</a>
    </div>
    <div class="container">
      <span class="title"
        ><svg><use xlink:href="components/sprite.svg#share"></use></svg>
        Sosyal Medyalar
      </span>
      <a href="#" class="link"
        ><svg><use xlink:href="components/sprite.svg#instagram"></use></svg
        >@gelecekkalemler</a
      >
    </div>
  </div>
  <div class="copyright">All rights are reserved. Copyright 2024 &copy;</div>
</footer>
