<header class="header">
  <ul class="list">
    <li class="item"><a href="#">Ana Sayfa</a></li>
    <li class="item"><a href="#">Hakkında</a></li>
    <li class="item"><a href="#">Duyurular</a></li>
    <li class="item"><a href="#">SSS</a></li>
    <li class="item"><a href="#">İletişim</a></li>
  </ul>
  <button class="nav-btn" id="btnNav"></button>
  <a href="" class="application-btn">Başvur</a>
  <nav class="navbar" id="nav">
    <a href="#" class="item">Ana Sayfa</a>
    <a href="#" class="item">Hakkında</a>
    <a href="#" class="item">Duyurular</a>
    <a href="#" class="item">SSS</a>
    <a href="#" class="item">İletişim</a>
  </nav>
</header>
